antspyx>=0.4.2
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
Babel
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
chart-studio
ci-info
click
connected-components-3d
cycler
debugpy
decorator
defusedxml
dipy
dominate
entrypoints
etelemetry
executing
fastjsonschema
filelock
fonttools
h5py
idna
imageio
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
isodate
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver
looseversion
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
monai
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nibabel
nipype
notebook
notebook-shim
numpy
packaging
pandas
pandocfilters
parso
patsy
pexpect
pickleshare
Pillow
plotly
prometheus-client
prompt-toolkit
prov
psutil
ptyprocess
pure-eval
pycparser
pydot
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
PyWavelets
PyYAML
pyzmq
rdflib
requests
retrying
scikit-image
scikit-learn
scipy
Send2Trash
SimpleITK
simplejson
six
sniffio
soupsieve
stack-data
statsmodels
tenacity
terminado
threadpoolctl
tifffile
tinycss2
tornado
tqdm
traitlets
traits
typing_extensions
urllib3
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
zipp
